.table-container table{
    border-spacing: 0;
}

.table-container thead th {
    border-bottom: 1px solid black; 
}

.table-container thead th {
    padding: 10px 20px 10px 10px;
    position: relative;
    cursor: pointer;
}

.table-container td {
    padding: 10px;
}

.table-container thead th::after, .table-container thead th::before {
    content: '';
    display: block;
    position: absolute;
    right: 5px;
}

.table-container thead th::after {
    top: 10px;
    border-style: solid;
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent lightgray transparent;
}

.table-container thead th::before {
    bottom: 10px;
    border-style: solid;
    border-width: 8.7px 5px 0 5px;
    border-color: lightgray transparent transparent transparent;
}

.table-container thead th.asc::after {
    border-color: transparent transparent #7A80DD transparent;
}

.table-container thead th.asc::before {
    border-color: transparent;
}

.table-container thead th.desc::before {
    border-color: #7A80DD transparent transparent transparent;
}

.table-container thead th.desc::after {
    border-color: transparent;
}

.table-container tbody td {
    border-bottom: 1px solid lightgray; 
}

.table-container tbody td.filter {
    background-color: #F1F1F1; 
}

.table-container tbody tr:last-child td {
    border-bottom: 1px solid black; 
}


.table-container tbody tr:nth-child(2n+1) {
    background-color: #f9f9f9; 
}

.table-container tbody tr:nth-child(2n) td.filter {
    background-color: #FAFAFA; 
}
