.table-container .table-select-entries {
    display: flex;
}

.table-container .table-select-entries p {
    margin: 0 0 0 .5em;
}

.table-container .table-select-entries label {
    margin: 0 .5em 0 0;
}